*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
}

body{
    max-width: 1600px;
    margin: 0 auto;
    padding: 10px;
}

#serviecesContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}
.servicesHeading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - (2*10px));
    gap: 10px;
    flex-direction: column;
    padding: 20px 30px;
}

.servicesHeading h3{
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    padding: 10px 0;
}


.servicesHeading h3::after{
    content: "";
    position: absolute;
    left: 40px;
    top: 0;
    width: calc(100%/2);
    height: 100%;
    border-bottom: solid #3c9ded 4px;
}
.cardContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: calc(100% - (3*10px));
    flex-wrap: wrap;
}
.servicesHeading p, .Card div p{
    font-size: 16px;
    color: #5b5c5e;
    line-height: 1.5;
    padding: 10px 0px;

}
.cardContainer .Card{
    display: flex;
    justify-content: center;
    align-content: start;
    gap: 10px;
    width: calc(100% / 3 - (2*10px));
    padding: 5px 10px;
}
.Card div:first-child{
    max-width: 40px;
}
.Card div:last-child{
    width: calc(100% - 40px);
}
.Card div i {
    font-size: 25px;
    background-color: #3c9ded;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
}

@media (min-width : 560px) and (max-width:870px){
    .cardContainer{
        flex-direction: column;
        width: 100%;
    }
    .cardContainer .Card{
        width: 100%;
    }
}